.button-store {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-align: center;
  line-height: 60px;
  width: 200px;
  height: 60px;
  background-color: #252c42;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;

  transition: background-color 400ms linear, color 1s linear;

}

.button-store.-second {
  width: 218px;
  line-height: 56px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 38px;
  cursor: pointer;
}

.button-store:hover,
.button-store:focus {
  background-color: #fff;
  color: #252c42; 
}

.button-store:active {
  transform: scale(0.9);
}

.button-store.-second:hover,
.button-store.-second:focus {
  background-color: #fff;
  color: #e24647;
}

.button-store > button,
.button-store > a {
font-size: inherit;
background-color: inherit;
border: none;
text-decoration: inherit;
color: inherit;
}

@media (max-width: 500px) {
  .button-store.-second {
    margin-right: 15px;
    margin-bottom: 10px;
    width: auto;
  }
}

@media (max-width: 470px) {
  .button-store, .button-store.-second {
    display: block;
    width: 90%;
    margin: 0 auto 20px;
  }
}