.button-store {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-align: center;
  line-height: 60px;
  width: 200px;
  height: 60px;
  background-color: #252c42;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.button-store.-second {
  width: 218px;
  line-height: 56px;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 38px;
  cursor: pointer;
}

.button-store:hover {
  background-color: #fff;
  color: #e24647;
}

.button-store.-second:hover {
  background-color: #fff;
  color: #e24647;
}

.button-store > button,
.button-store > a {
font-size: inherit;
background-color: inherit;
border: none;
text-decoration: inherit;
color: inherit;
}