.button-store {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  width: 200px;
  height: 60px;
  background-color: #252c42;
  color: #fff;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
}
