.description {
  position: relative;
  left: 60%;
  color: #fff;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
}

.description-title {
  margin-top: 154px;
  margin-bottom: 100px;
}

.description-button {
  display: inline-block;
  margin: 0px 38px 0px 0px;
}

.description-more, .see-more {
  color: #fff;
  text-decoration: none;
  font-family: Arial, "Roboto", sans-serif;
  margin-top: 28px;
  margin-bottom: 98px;
}

.description-price {
  margin-bottom: 73px;
  word-spacing: 77px;
}

.description-freight{
  margin-bottom: 26px;
  word-spacing: 77px;
}

.description-star{
  margin-bottom: 28px;
}

.description-product {
  width: 553px;
  height: 175px;
}