.header-store {
  overflow: hidden;
  color: #fff;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  float: left;
  cursor: pointer;
}

.header-store > .navigation {
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-size: 21px;
  float: right;
}

.header-store [type="search"] {
  width: 358px;
  margin-right: 65px;
  padding: 8px;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  vertical-align: bottom;
}

.header-store [type="search"]::placeholder {
  color: #fff;
}

.header-store .action {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  color: inherit;
  text-decoration: none;
  margin-right: 60px;
}

.header-store .action.-last {
  margin-right: 0; 
}

.header-store .action::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 200ms linear;
}

.header-store .action:hover::after {
  transform: scale(1);
}

@media (max-width: 1920px) {
  .header-store {
    padding-right: 60px; 
  }
}

@media (max-width: 1292px) {

  .header-store {
    margin-bottom: 70px;
  }

  .header-store > .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 966px) {

  .header-store {
    padding-left: 30px;
    padding-right: 30px; 
  }
  .header-store [type="search"] {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-88%);
    background-color: #fff;
    color: #000;
    background-image: url("../img/Search.png");
    background-repeat:no-repeat;
    background-size: 40px;
    background-position: right; 

    transition: transform 200ms linear;
  }
  .header-store [type="search"].-active {
    transform: translateX(0);

    transition: transform 400ms cubic-bezier(0, 0, 0.96, 1.26);
  }
  .header-store [type="search"]::placeholder {
    color: #000;
  }
}

@media (max-width: 530px) {
  .header-store .action {
    margin-right: 30px;
  }
}

@media (max-width: 465px) {
  .header-store .action {
    margin-right: 15px;
  }
}

@media (max-width: 390px) {
  .header-store {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-store .action {
    margin-right: 8px;
  }
}

@media (max-width: 348px) {
  .header-store {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
  }

  .header-store > .navigation {
    display: none;
  }
}