.photo-product {
  display: inline-block;
  height: 554px;
  border-radius: 0px 150px 150px 0px;
  margin-right: 157px;
  background-color: #fff;
  vertical-align: middle;
}

@media (max-width: 1325px) {
  .photo-product{
    margin-right: 140px;
  }
}

@media (max-width: 1292px) {
  .photo-product{
    display: block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 0;
  }
}

@media (max-width: 550px) {
  .photo-product{
    height: auto;
  }

  .photo-product > .photo-phone {
    width: 100%;
  }
}
